// Colors ------------------------------------ /

// Primary -- /

$color-signup : #1c2431;
$color-main : hsl(218, 28%, 13%);
$color-footer: hsl(216, 53%, 9%);
$color-testimonials: hsl(219, 30%, 18%);

// Accent --/

$color-calltoaction-light : hsl(176, 68%, 64%);
$color-calltoaction-dark : hsl(198, 60%, 50%);

// Neutral --/

$color-white: hsl(0, 0%, 100%);

// Fonts ------------------------------------ /


$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Open-Sans', serif;

// Breakpoints ------------------------------------ /

$break-xs: 575px; 
$brea-s: 576px; 
$break-m: 768px;  
$break-l: 992px;